*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.form1{
    width: 610px;
    height: 450px;
    margin: 60px auto;
    background-color: #f1c40f;
    padding: 100px 0 0 40px;
}
td{
    height: 30px;
}
#button{
    width: 120px;
    height: 30px;
    border: 2px solid #9d3a56;
    background-color:#993333 ;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}
#button:hover{
    border-color: #9b4562;
    background-color:#72273c ;
}
#name, #surname, #nickname,#password, #email, #entercode{
    width: 175px;
    height: 25px;
    border: 1px solid #bbb;
    color: #ababab;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 0 0 0 2px;
}

#day, #month{
    width: 50px;
    height: 25px;
    color: #000 ;
    border: 1px solid #999;
    background-color: #ffffff;
    border-radius: 3px;
}
#year, #cityofbirth{
    width: 100px;
    height: 25px;
    color: #000;
    border: 1px solid #999;
    background: #ffffff;
    border-radius: 3px;

}
#generatedcode{
    width: 135px;
    height: 56px;
    background-image: url("img/validationBg.jpg");
    font: bold 30px Tahoma;
    color: #ffffff;
    text-align: center;
    border: none;
    text-shadow: 0 1px 1px #000;
}