*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}
.form1{
    width: 750px;
    height: 500px;
    margin: 60px auto;
    padding-top: 150px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #f1c40f;
}
.row{
    width: 650px;
    height: 30px;
    //border: 1px solid #2c3e50;
    //margin: 5px auto 0 auto;
}
.part1{
    width: 20%;
    height: inherit;
    //border: 1px solid darkblue;
    float: left;
}
.part2{
    width: 40%;
    height: inherit;
    //border: 1px solid darkblue;
    float: left;
}
.part3{
    width: 40%;
    height: inherit;
    //border: 1px solid darkblue;
    float: left;
}
input[type=button]{
    width: 120px;
    height: 30px;
    display: flex;
    margin: 0 auto;
    padding-left: 30px;
    background-color: #e74c3c;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 700;
    transition: all .4s;
}
input[type=button]:hover{
    background-color: rgba(231,76,60,.9);
    color: #e3e3e3;
}
input[type=text],
input[type=password],
input[type=email],
input[type=date],
select{
    width: 175px;
    height: 25px;
    color: #ababab;
    background-color: #ffffff;
    border-radius: 3px;
    border: none;
    padding-left: 2px;
}
#generatedCode{
    width: 135px;
    height: 56px;
    color: black;
    background: url("img/validationBg.jpg")no-repeat;
    font-size: 30px ;
    border: none;
    text-shadow: 0 1px 1px #000 ;
}
