*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.form1{
    width: 610px;
    height: 450px;
    margin: 60px auto;
    background-color: #f1c40f;
    padding: 100px 0 0 40px;
}
td{
    height: 30px;
}